{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "SUBSCRIPTION_ID": "",
    "ACI_NAME": "",
    "ACI_RG": "",
    "ACI_IMAGE": "",
    "ACR_SERVER": "",
    "ACR_USER": "",
    "ACR_PASS": "",
    "GITHUB_PAT": "",
    "BUILD_STORAGE_CONNECTION": "",
    "BUILD_STORAGE_ACCOUNT": "",
    "BUILD_STORAGE_KEY": ""
  }
}
